<!DOCTYPE html>
<html layout:decorate="~{base}" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="row mb-2" layout:fragment="content-header">
    <div class="col-sm-6">
        <h1>Formulir Biodata 1</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Formulir Biodata 1</li>
        </ol>
    </div>
</div>

<div class="card card-primary" layout:fragment="content-body">
    <div class="card-header">
        <h3 class="card-title">Formulir Biodata</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form role="form" id=form>
        <div class="card-body">
            <div class="form-group">
                <label for="exampleInputName">Nama</label>
                <input type="text" class="form-control" id="exampleInputName" name="name" placeholder="Masukkan Nama">
            </div>
            <div class="form-group">
                <label for="exampleInputAddress">Alamat</label>
                <textarea class="form-control" rows="3" name="address" placeholder="Masukkan Alamat"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputBirthDate">Tanggal Lahir</label>
                <input class="form-control" type="date" data-date="" data-date-format="DD/MM/YYYY" id="date"
                    name="birthdate" value="2020-01-01">
            </div>
            <div class="form-group">
                <label for="exampleInputAge">Umur</label>
                <input type="text" class="form-control" id="exampleInputAge" name="age" placeholder="Masukkan Umur">
            </div>
            <div class="form-group">
                <label>Agama</label>
                <select class="form-control" name="religion">
                    <option>Islam</option>
                    <option>Protestan</option>
                    <option>Katholik</option>
                    <option>Hindu</option>
                    <option>Budha</option>
                    <option>Konghucu</option>
                </select>
            </div>
            <!-- radio -->
            <div class="form-group">
                <label for="exampleInputGender">Jenis Kelamin</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" value="Laki-laki">
                    <label class="form-check-label">Laki-laki</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" value="Perempuan">
                    <label class="form-check-label">Perempuan</label>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <p align="right">
                <button id="submit" type="submit" class="btn btn-primary">Submit</button>
            </p>
        </div>
    </form>
</div>

<div class="card card-primary" layout:fragment="content-table">
    <div class="card-header">
        <h3 class="card-title">Tabel Biodata</h3>
    </div>
    <!-- /.card-header -->
    <section class="content">
        <div class="container-fluid">
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap" id="tabel">
                    <thead>
                        <tr align="center">
                            <th>Nama</th>
                            <th>Alamat</th>
                            <th>Tanggal Lahir</th>
                            <th>Umur</th>
                            <th>Agama</th>
                            <th>Jenis Kelamin</th>
                        </tr>
                    </thead>
                    <tbody id="displayArea">
                    </tbody>
                </table>
            </div>
        </div>

        <!-- /.card-body -->
    </section>
    <div class="card-footer">
        <p align="right">
            <button id="reset" type="button" class="btn btn-primary">Reset</button>
        </p>
    </div>
</div>
<th:block layout:fragment="add-scripts">
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- script jQuery -->
    <!-- Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>



    <!-- bs-custom-file-input -->
    <script src="../../plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
    <script>
        $(function () {
            $("#tabel").DataTable({
                "searching": false,
                "responsive": true,
                "autoWidth": false,
                "lengthChange": false,
            });
            // $('#example2').DataTable({
            //     "paging": true,
            //     "lengthChange": false,
            //     "searching": false,
            //     "ordering": true,
            //     "info": true,
            //     "autoWidth": false,
            //     "responsive": true,
            // });
        });
    </script>
    <script>
        $("#date").on("change", function () {
            this.setAttribute(
                "data-date",
                moment(this.value, "YYYY-MM-DD")
                    .format(this.getAttribute("data-date-format"))
            )
        }).trigger("change")
    </script>
    <script type="text/javascript">
        $('#form').submit(function (event) {
            event.preventDefault();
            var $inputs = $('#form :input');
            var values = {};
            $inputs.each(function () {
                values[this.name] = $(this).val();
            });
            $('#displayArea').append("<tr><td>" + values.name + "</td><td>" + values.address + "</td><td style='text-align:center'>" + moment(values.birthdate).format('DD-MM-YYYY') + "</td><td style='text-align:center'>" + values.age + "</td><td style='text-align:center'>" + values.religion + "</td><td style='text-align:center'>" +
                $("input[name='gender']:checked").val() + "</td></tr>");
            $("input[type=text], textarea").val("");
            $("input[type=date], textarea").val("");
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#reset').click(function () {
                $("#tabel").find("tr:gt(0)").remove();
            });
        });
    </script>
    <script>
        $('#submit').click(function () {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                onOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })
            Toast.fire({
                icon: 'success',
                title: 'Submitted successfully'
            })
        });
    </script>
    <script>
        $('#reset').click(function () {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                onOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })
            Toast.fire({
                icon: 'success',
                title: 'All data reset successfully'
            })
        });
    </script>
</th:block>

</html>