<!DOCTYPE html>
<html layout:decorate="~{base}" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="row mb-2" layout:fragment="content-header">
    <div class="col-sm-6">
        <h1 class="m-0 text-dark">Biodata</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active"><a href="#">Biodata</a></li>
            <li class="breadcrumb-item active">Kelola</li>
        </ol>
    </div>
</div>

<div class="card  card-outline card-olive" layout:fragment="content-body">
    <div class="card-header">
        <h3 class="card-title" style="font-size: 18pt;">Biodata Diri</h3>
    </div>
    <!-- /.card-header -->
    <div class='card-body'>
        <div class="input-group" style="width: 9cm">
            <input class="form-control" id='getNik' type="search" placeholder="Cari berdasarkan NIK"
                aria-label="Search">
            <div class="input-group-append">
                <button id='search' class="btn btn-default" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <br>

        <table class="table table-striped table-bordered table-hover" id="tableBiodataByNik" style="width:100%">
        </table>
    </div>
    <!-- /.card-body -->
    <!-- /.card -->
    <!-- /.col -->
    <!-- /.card-header -->
</div>

<th:block layout:fragment="add-scripts">
    <script src="../../dist/js/biodata.js"></script>
    <!-- datepicker -->
    <!-- <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> -->
    <!--     <script> -->
    <!-- //         $(function () { -->
    <!-- //             $("#tanggalLahir").datepicker({ -->
    <!-- //                 dateFormat: "dd-MM-yy", -->
    <!-- //                 changeYear: true, -->
    <!-- //                 changeMonth: true, -->
    <!-- //                 yearRange: "c-150:c" -->
    <!-- //             }); -->
    <!-- //         }); -->
    <!--     </script> -->
    <script>
        $('#search').click(function () {
            tableBiodataByNik.create($('#getNik').val());
            $('#getNik').val("");
        })

    </script>
</th:block>

</html>